<div th:fragment="header">
    <div class="container" style="border-bottom: 1px solid #e5e5e5">
        <header class="blog-header py-3">
            <div class="nav-scroller">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 link-secondary" href="/">Home</a>
                    <a class="p-2 link-secondary" href="/about">About</a>
                    <a class="p-2 link-secondary" href="/all-articles">All Articles</a>
                    <a class="p-2 link-secondary" href="/all-articles/add-article">Add Article</a>
                    <div class="col-4 d-flex justify-content-end align-items-center">
                        <a class="p-2 link-secondary" href="#" aria-label="Search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                        </a>
                        <a class="p-2 link-secondary" href="/login">Login</a>
                        <a class="p-2 link-secondary" href="/logout">Logout</a>
                    </div>
                </nav>
            </div>
        </header>
    </div>
</div>